<!-- Author:Harsha
    Module:Email-tempalte
    Description:This Email tempalte is used for the verification of the pda request through otp
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>PDA Request Email OTP</title>
</head>
<body style="margin:0; padding:0; background-color:#f6f9fc; font-family: 'Santhoshi', Arial, sans-serif; color:#333333;">
  <center style="width:65%; background-color:#f6f9fc; padding: 90px 150px;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:600px;background-color:rgb(232, 232, 232);">
      <!-- Logo -->
      <tr>
        <td style="padding:24px 24px 0px;">
          <table width="100%" cellspacing="0" cellpadding="0" style="margin-bottom:20px;">
            <tr>
              <td>
                
              </td>
              <td>
                
              </td>
            </tr>
          </table>
        </td> 
      </tr>

      <!-- Greeting -->
      <tr>
        <td style="padding:0 24px 15px 24px; font-size:14px; line-height:1.6; font-weight:bold; color:#333333;">
          Good Day,
        </td>
      </tr>
      <!-- Intro -->
      <tr>
        <td style="padding:0 24px 15px 24px; font-size:14px; line-height:1.6; color:#333333;">
        You have requested access to the Meraki PDA Disbursement Form.
      <!-- CTA Text -->
      <tr>
        <td style="padding:0 24px 10px 24px; font-size:14px; color:#333333;">
        Please use the below OTP to complete your authentication process:
        </td>
      </tr>
      <!-- OTP Details -->
       <tr>
        <td style="padding:0 24px 20px 24px;">
          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#f2f4f8; border:1px solid #e5e7eb; padding:15px;">
            <tr>
              <td style="font-size:14px; font-size: larger; text-align: center;">{{otp}}</td>
          </table>
        </td>
      </tr>
      
      
      <!-- Footer -->
      <tr>
        <td style="padding:0 24px 15px 24px; font-size:14px; line-height:1.6; color:#333333;">
          For assistance, please reach out to 
          <a href="mailto:{{email_id}}" style="color:#3b82f6; text-decoration:none;">{{email_id}}</a>.
        </td>
      </tr>
      <tr>
        
      </tr>
      <tr>
        <td style="padding:0 24px 24px 24px; font-size:14px; line-height:1.6; color:#333333;">
          {% if signature %}
              <strong>{{signature | safe}} </strong>
          {% else %}
              <strong>Meraki Team </strong>
          {% endif %}
        </td>
      </tr>
      <!-- Footer Note -->
      <tr>
        <td style="color:#777777; padding:15px 24px 24px 24px; ">
          <p >
          </p>
        </td>
      </tr>
    </table>
  </center>
</body>
</html>
