<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>PDA Request Email</title>
</head>
<body style="margin:0; padding:0; background-color:#f6f9fc; font-family: Arial, sans-serif; color:#333333;">
  <center style="width:65%; background-color:#f6f9fc; padding: 90px 150px;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:600px; background-color:rgb(232, 232, 232); border:1px solid #e5e7eb;">
      <!-- Logo -->
      <tr>
        <td style="padding:24px 24px 0 24px;">
          <table width="100%" cellspacing="0" cellpadding="0" style="margin-bottom:20px;">
            <tr>
              <td>
              </td>
              <td>
              </td>
            </tr>
          </table>
        </td> 
      </tr>
      <!-- Greeting -->
      <tr>
        <td style="padding:0 24px 15px 24px; font-size:16px; font-weight:bold; line-height:1.6; color:#333333;">
          Good Day,
        </td>
      </tr>
      <!-- Intro -->
      <tr>
        <td style="padding:0 24px 15px 24px; font-size:14px; line-height:1.6; color:#333333;">
          We would like to inform you that a PDA request for {{client_name}} has been successfully submitted by {{port_agent_name}}.
        </td>
      </tr>
      <!-- Details Table -->
      <tr>
        <td style="font-size:16px; font-weight:bold; color:#222222; padding:0 24px 15px 24px;">Details:</td>
      <tr>
        <td style="padding:0 24px 20px 24px;">
          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#f2f4f8; border:1px solid #e5e7eb; padding:15px;">
            <tr>
              <td style="font-size:14px; font-weight:bold; color:#444444; padding:6px 0px 0px 10px;">Disbursement Id</td>
              <td style="font-size:14px; padding:6px 0;">{{disbursement_id}}</td>
            </tr>
            <tr>
              <td style="font-size:14px; font-weight:bold; color:#444444; padding:6px 0px 0px 10px;">Vessel Name</td>
              <td style="font-size:14px; padding:6px 0;">{{vessel_name}}</td>
            </tr>
            <tr>
              <td style="font-size:14px; font-weight:bold; color:#444444; padding:6px 0px 0px 10px;">Port</td>
              <td style="font-size:14px; padding:6px 0;">{{port_name}}</td>
            </tr>
            <tr>
              <td style="font-size:14px; font-weight:bold; color:#444444; padding:6px 0px 0px 10px;">ETA</td>
              <td style="font-size:14px; padding:6px 0;">{{eta}}</td>
            </tr>
            <tr>
              <td style="font-size:14px; font-weight:bold; color:#444444; padding:6px 0px 0px 10px;">ETD</td>
              <td style="font-size:14px; padding:6px 0;">{{etd}}</td>
            </tr>
          </table>
        </td>
      </tr>
      
      <!-- Footer -->
      <tr>
        <td style="padding:0 24px 15px 24px; font-size:14px; line-height:1.6; color:#333333;">
          For assistance, please reach out to 
          <a href="{{email_id}}" style="color:#3b82f6; text-decoration:none;">{{email_id}}</a>.
        </td>
      </tr>
      <tr>
        
      </tr>
      <tr>
        <td style="padding:0 24px 24px 24px; font-size:14px; line-height:1.6; color:#333333;">
          Best regards,<br>
          <strong>Meraki Team</strong>
        </td>
      </tr>
      <!-- Footer Note -->
      <tr>
        <td style="padding:15px 24px 24px 24px;">
          <p>
          </p>
        </td>
      </tr>
    </table>
  </center>
</body>
</html>
